body {
  background-image: url('../assets/images/bg.png');
  background-size: cover;

  .page-container {
    padding: 1rem;
  }

  .hhFmBk .blockbuilder-branding {
    display: none !important;
  }
}